/**
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */

/* Some basic examples of cascading media queries. */

/* Really small screens and up 
@media only screen and (min-width: 220px) {
}
*/

/* Smartphone sizes and up 
@media only screen and (min-width: 320px) {
}
*/

/* Smartphone sizes and down */
@media only screen and (max-width: 480px) {
  
  /*
    Float Region blocks example:
    In smaller screen sizes we can remove the float and widths so all blocks
    stack instead of displaying horizonally. The selector used here is an
    "attribute selector" which will match on any float block class. Use your
    inspector or Firebug to get the classes from the page output if you need
    more granular control over block alignment and stacking.
    
    "Float Region blocks" is an extension for floating blocks in regions, see
    your themes appearance settings, under the Extensions tab.
  */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

}

/* Tablet sizes and up 
@media only screen and (min-width: 768px) {
}
*/

/* Desktops/laptops and up 
@media only screen and (min-width: 1025px) {
}
*/


@media only screen and (max-width:320px) {
/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */

#branding {
  padding: 10px 0 10px;
}
.region-header {
  padding: 0 0 10px;
}
#branding,
.region-header {
  float: none;
  margin: auto;
  text-align: center;
  display: table;
}
#logo,
#site-name,
#site-slogan {
  display: block;
  float: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
#site-name {
  font-size: 3em;
}
.content-style {
  padding: 10px;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}

#menu-bar .block > ul > li {
  display: inline-block;
  margin: 0.333em 0.1em;
  padding-left: 0;
}
.rct-6 #menu-bar .menu-wrapper ul li  a, 
.rct-6 .region-header .block-content ul li a {
  border-radius: 6px 6px 6px 6px;
}
#menu-bar ul > li a {
  padding: 0.4em 10px 0.5em;
  margin: 0 3px;
}

.region-header .block {
  overflow: hidden;
}
.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}
.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.article-title {
  font-size: 1.5em;
}

}
@media only screen and (min-width:321px) and (max-width:480px) {
/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */
#branding {
  padding: 15px 0 0 0;
}
.region-header {
  padding: 0 0 10px;
}
#branding hgroup {
  margin-top: 1em;
}
#branding,
.region-header {
  float: none;
  margin: auto;
  text-align: center;
  display: table;
}
.with-logo #site-name,
.with-logo #site-slogan {
  text-align: left;
}
#site-name {
  font-size: 3em;
}
.content-style {
  padding: 10px;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}
#menu-bar .block > ul > li {
  margin: 0 1px 1px 0;
}
#menu-bar-wrapper .nav .block-menu li a,
#menu-bar-wrapper #menu-bar li.sf-depth-1,
#menu-bar-wrapper #menu-bar li.sf-depth-1 > a,
#menu-bar-wrapper .region-header .block-content > ul > li > a {
  border-radius: 6px 6px 6px 0;
}
.region-header .block {
  overflow: hidden;
}
.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}
.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.article-title {
  font-size: 1.5em;
}

}
@media only screen and (min-width:481px) and (max-width:768px) {
/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */
#header-wrapper {
  float: left;
  margin-bottom: 10px;
  position: relative;
}
#branding {
  padding: 15px 0 0 0;
}
.region-header {
  padding: 0 0 10px;
}
#branding hgroup {
  margin-top: 0.8em;
}
#branding,
.region-header {
  float: none;
  text-align: center;
  display: table;
}
#site-name,
#site-slogan {
  text-align: left;
}
#site-name {
  font-size: 3.5em;
}
.content-style {
  padding: 12px 15px;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}
#menu-bar .block > ul > li {
  margin: 0 1px 1px 0;
}
#menu-bar-wrapper .nav .block-menu li a,
#menu-bar-wrapper #menu-bar li.sf-depth-1,
#menu-bar-wrapper #menu-bar li.sf-depth-1 > a,
#menu-bar-wrapper .region-header .block-content > ul > li > a {
  border-radius: 6px 6px 6px 0;
}
.region-header .block {
  overflow: hidden;
}
.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}
.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

}
@media only screen and (min-width:769px) and (max-width:1024px) {
/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */
#branding,
.region-header  {
  padding-top: 15px;
  padding-bottom: 20px;
}
#branding hgroup {
  margin-top: 0.8em;
}
#site-name {
  font-size: 3.5em;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1.077em;
}

}
@media only screen and (min-width:1025px) {
/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */
th,td {
  padding: 10px 14px;
}

}