body{font-size:87.5%;font-family:'Source Sans Pro'}
#site-name{font-size:2em;font-family:'Source Sans Pro'}
#site-slogan{font-size:1.2em;font-family:'Source Sans Pro'}
#page-title{font-size:2em;font-family:'Source Sans Pro'}
.node-title{font-size:1.6em;font-family:'Source Sans Pro'}
.comment-title{font-size:1.4em;font-family:'Source Sans Pro'}
.block-title{font-size:1.4em;font-family:'Source Sans Pro'}
h1,h2,h3,h4{font-family:'Source Sans Pro'}
h5,h6{font-family:'Source Sans Pro'}
h1{font-size:2em;}
h2{font-size:1.6em;}
h3{font-size:1.4em;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6{font-size:1em;}
#menu-bar .menu-wrapper,#primary-menu-bar .menu-wrapper{font-size:1.4em;font-family:'Source Sans Pro'}
#secondary-menu-bar .menu-wrapper,#menu-bar #block-system-user-menu{font-family:'Source Sans Pro'}
nav.block .block-content{font-family:'Source Sans Pro'}
ruby ruby{font-family:'Source Sans Pro'}