/** Footheme footheme.css  Use this file to add your custom styles.  You can change the name of this file, just remember to update the name in the info file as well. */
/* Custom title elements */
h1#page-title:before { color: #669933; font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; }

h1.page-title { font-weight: bold; }

.page-home h1#page-title:before, .page-events h1#page-title:before { content: '\43'; /* 'C' */ }

.page-geeks h1#page-title:before { content: '\41'; /* 'A' */ }

.page-blog h1#page-title:before { content: '\4c'; /* 'L' */ }

.page-search h1#page-title:before { content: '\53'; /* 'S' */ }

@font-face { font-family: "geek_portland"; src: url('../font/geek_portland.eot'); src: url('../font/geek_portland.eot?#iefix') format('eot'), url('../font/geek_portland.woff') format('woff'), url('../font/geek_portland.ttf') format('truetype'), url('../font/geek_portland.svg') format('svg'); }

html, body, .bb-n { background: url("images/bg.gif") no-repeat bottom right white; }

h1, h2, h3, h4, h5 { margin: 0; line-height: 120%; font-family: Arial, Helvetica, san-serif; }

table.fc-header { border: 0; }

.rounded-corner, .rounded-corner-panel, #content .node, #content .view-empty { border: 1px solid #e6e4de; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0px 0px 5px #e6e4de; -moz-box-shadow: 0px 0px 5px #e6e4de; box-shadow: 0px 0px 5px #e6e4de; }

.rounded-corner-panel { padding: 20px; background: #fff; margin-left: 0; margin-right: 0; }

#header .container { position: relative; }
#header .container .region-header { position: absolute; bottom: 0; right: 0; text-align: right; }

#branding { width: 75%; margin-bottom: 0; }
#branding #logo { padding: 0; max-width: 100%; }

#menu-bar { background: #99cc66; padding-top: 2px; }
#menu-bar.nav .block-menu { width: 75%; float: left; }
#menu-bar.nav .block-menu li a.active { color: #1c6ea0; }
#menu-bar .block-search { clear: none; float: right; width: 25%; min-width: 170px; text-align: right; line-height: 2em; height: 2em; }
#menu-bar .block-search input { float: none; font-size: .9em; position: relative; top: -1px; }
#menu-bar .menu-wrapper ul.menu li { width: 16%; text-align: center; }
#menu-bar .menu-wrapper ul.menu li a { line-height: 2em; }
#menu-bar .menu-wrapper ul.menu li.last a { color: #000; }

#columns { background: none; }

/* Block styles */
.block-geek-social ul { list-style: none outside none; padding: 0; margin: 0; }
.block-geek-social ul li { list-style: none outside none; display: inline; padding: 0; margin: 0; }

.rounded-corner .block-inner, .rounded-corner-panel .block-inner, #content .node .block-inner, #content .view-empty .block-inner, .page-title .block-inner { margin-left: 0; }

/* Node listing views */
#content .view-content .item-list ul { margin: 0; padding: 0; }
#content .view-content .item-list ul li.views-row { list-style: none outside none; }
#content .node, #content .view-empty { background: #fff; padding: 1em; }
#content .node .region-inner, #content .view-empty .region-inner { margin: 0 25px; }
#content .node .region-two-25-75-top, #content .view-empty .region-two-25-75-top { padding-bottom: 5px; }
#content .node .region-two-25-75-second .region-inner, #content .view-empty .region-two-25-75-second .region-inner { margin-left: 0; }
#content .node .node, #content .node .view-empty, #content .view-empty .node, #content .view-empty .view-empty { -webkit-box-shadow: 0px 0px 5px white; -moz-box-shadow: 0px 0px 5px white; box-shadow: 0px 0px 5px white; border: 0; }
#content .rounded-corner-panel .view-empty { border: 0; -webkit-box-shadow: 0px 0px 5px white; -moz-box-shadow: 0px 0px 5px white; box-shadow: 0px 0px 5px white; }
#content .field-type-image figure { margin: 0; float: left; padding: 7px 10px 7px 0; }
#content .field-type-image figure:first { float: none; }
#content .node-blurb { margin-bottom: .5em; }
#content .node-blurb p { margin: 0; }
#content .node-blurb .field-type-image figure img { max-width: 99%; }
#content .grouping-content .grouping-title { float: left; white-space: nowrap; padding-top: 14px; }
#content .grouping-content .grouping-title + .node { border-top: 1px solid #e6e4de; }
#content .grouping-content .node { -webkit-box-shadow: 0px 0px 5px white; -moz-box-shadow: 0px 0px 5px white; box-shadow: 0px 0px 5px white; border: none; background: none; }
#content .grouping-content .node .at-panel { margin-left: 15%; }
#content .grouping-content .node .at-panel .region-conditional-stack { clear: none; }
#content .grouping-content .node .region-inner { margin: 0; }
#content .grouping-content .node .field { padding: 0; }
#content .grouping-content .node .field-name-node-link { text-align: right; }
#content .views-row-1 .grouping-content .grouping-title, #content .views-row-1 .grouping-content .node { border: none; padding-top: 0; }

.pane-page-tabs { margin-bottom: 0; }
.pane-page-tabs ul.tabs { border: 0; margin-left: 1em; }

.page-home .pane-page-tabs ul.tabs li { float: right; }

.region-inner > .rounded-corner, .region-inner > .rounded-corner-panel, #content .region-inner > .node, #content .region-inner > .view-empty { margin-bottom: 20px; }

.region .field-name-field-event-category, .region .field-name-field-all-geeky-interests { float: left; }
.region .field-name-field-event-category ul, .region .field-name-field-all-geeky-interests ul { margin: 0; }
.region .field-name-field-event-category ul li, .region .field-name-field-all-geeky-interests ul li { list-style: none inside none; }
.region .field-name-field-event-category ul li:before, .region .field-name-field-all-geeky-interests ul li:before { font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; content: '\54'; /* 'T' */ }

.field-name-field-blog-category ul li:before { content: '\e800'; /* 'C' */ font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; }

.field-name-ds-user-picture { float: left; padding-right: 10px; }

.field-name-field-geek-page-type-s- ul, .field-name-og-group-ref .item-list ul { margin: 0; }
.field-name-field-geek-page-type-s- ul li, .field-name-og-group-ref .item-list ul li { list-style: none inside none; }
.field-name-field-geek-page-type-s- ul li:before, .field-name-og-group-ref .item-list ul li:before { content: '\41'; /* 'A' */ font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; }

.field-name-related-link a:before { color: #000; content: '\43'; /* 'C' */ font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; }

/* Front page */
.homepage-listing { height: 475px; overflow: auto; }

.pane-featured-content-slideshows-panel-pane-1 h2 { color: #000; }

/* General styles for node display */
.node .field-name-post-date, .node .field-name-title { display: block; }
.node .field-name-field-location .field-name-title, .node .field-name-field-location *, .node .field-name-field-address .field-name-title, .node .field-name-field-address * { display: inline; }
.node .field-name-field-address { display: inline; }
.node .field-name-field-address > div { padding-right: 10px; }
.node .field-name-field-address > div:after { display: none; }
.node .field-name-field-phone, .node .field-name-posted-by, .node .field-name-field-blog-category { display: inline; }
.node .field-name-field-phone *, .node .field-name-posted-by *, .node .field-name-field-blog-category * { display: inline; }
.node .field-name-field-admission, .node .field-name-field-entrance-fee, .node .field-name-field-age { display: inline; padding-right: 10px; }
.node .field-name-field-admission *, .node .field-name-field-entrance-fee *, .node .field-name-field-age * { display: inline; }
.node .field-name-field-admission ul, .node .field-name-field-admission li, .node .field-name-field-entrance-fee ul, .node .field-name-field-entrance-fee li, .node .field-name-field-age ul, .node .field-name-field-age li { margin: 0; padding: 0; list-style: none outside none; }
.node .field-name-field-buy-tickets, .node .field-name-field-more-info, .node .field-name-map-link, .node .field-name-ical-link { float: right; padding-left: .5em; }
.node .field-name-field-buy-tickets a:before, .node .field-name-field-more-info a:before, .node .field-name-map-link a:before, .node .field-name-ical-link a:before { color: #000; font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; }

.field-name-field-buy-tickets a:before { content: '\47'; /* 'G' */ }

.field-name-field-more-info a:before { content: '\49'; /* 'I' */ }

.field-name-map-link a:before { content: '\4D'; /* 'M' */ }

.field-name-ical-link a:before { content: '\43'; /* 'C' */ }

.field-name-field-twitter, .field-name-field-facebook, .field-name-field-youtube, .field-name-field-podcast-feed { font-family: "geek_portland"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; font-size: 2em; float: right; }
.field-name-field-twitter a, .field-name-field-facebook a, .field-name-field-youtube a, .field-name-field-podcast-feed a { color: #000; }

/* Search styles */
.top-right-dropdown .region-two-50-second { position: absolute; z-index: 10; right: 0; }
.top-right-dropdown .region-two-50-second fieldset { background: #fff; margin-top: -1em; }
.top-right-dropdown .advanced-search { margin-bottom: 0; }
.top-right-dropdown .advanced-search form { margin-bottom: 0; }
.top-right-dropdown .advanced-search fieldset#edit-advanced { margin-bottom: 0; }
.top-right-dropdown .advanced-search fieldset#edit-advanced.collapsed { margin-top: -20px; border: 0; padding-bottom: 0; }

.page-search .region-two-50-first { height: 100px; }

/* Event listing styles */
.node-teaser { /* Regions */ /* Global field styles */ }
.node-teaser .region-two-25-75-top .region-inner div, .node-teaser .region-two-25-75-top .region-inner ul, .node-teaser .region-two-25-75-top .region-inner li, .node-teaser .region-two-25-75-top .region-inner p { display: inline; }
.node-teaser .region-two-25-75-top .region-inner ul { margin: 0; }
.node-teaser .region-two-25-75-top .region-inner .field { padding-right: 1em; }
.node-teaser .region-two-25-75-top .region-inner .field-name-field-event-category { float: right; display: block; }
.node-teaser .region-two-25-75-top .region-inner .field-name-field-event-category li { display: list-item; }
.node-teaser .region-two-25-75-top .region-inner .field-name-ds-user-picture { float: left; }
.node-teaser .region-two-25-75-top .region-inner .field-name-title { display: block; }
.node-teaser .region-two-25-75-top .region-inner .field-name-field-location .field-name-title, .node-teaser .region-two-25-75-top .region-inner .field-name-field-location * { display: inline; }
.node-teaser .region-two-25-75-bottom .field-type-image { float: left; margin-right: 2em; }
.node-teaser .field-name-title { display: block; }
.node-teaser .field-name-node-link { text-align: right; }
.node-teaser .field-name-field-location { display: block; }
.node-teaser .field-name-field-location * { display: inline; }

.node-full .region-two-25-75-top .field { padding-bottom: 0; }
.node-full .region-two-25-75-top .field-name-field-event-category { float: right; }
.node-full .date-repeat-rule { color: #5E5247; }

/* Fullcalendar */
.fc-event-default, .fc-event-default .fc-event-skin, .fc-event-default .fc-event-time, .fc-event-default a { background: #6698cc; border: #6698cc; }

/* Blog listing styles */
.pane-views-exp-blog-page { margin: 0; }
.pane-views-exp-blog-page .views-exposed-widgets .views-exposed-widget { padding-top: 0; display: table-cell; float: left; vertical-align: top; }
.pane-views-exp-blog-page .views-exposed-widgets .form-type-textfield input { width: 170px; }

/* Footer styles */
#page > footer { background: none; padding: 0; }
#page > footer .block-menu-footer-menu ul, #page > footer .block-menu-footer-menu li { margin: 0; padding: 0; list-style: none outside none; }
#page > footer .block-menu-footer-menu ul { text-align: center; }
#page > footer .block-menu-footer-menu ul li { display: inline; padding: 0 4em; border-right: 2px solid #e6e4de; }
#page > footer .block-menu-footer-menu ul li.last { border: none; }
#page > footer .block-menu-footer-menu ul li a { font-size: 1.3em; }

/* Geek pages */
.region-two-50-bottom .view-geekpages2 .views-row { float: left; width: 49%; margin-bottom: 1em; }
.region-two-50-bottom .view-geekpages2 .views-row-even { margin-left: 1%; }
.region-two-50-bottom .view-geekpages2 .views-row-odd { margin-right: 1%; clear: left; }

.region-two-50-second .pane-featured-content-slideshows-panel-pane-2 { margin-left: 2%; }
.region-two-50-second .pane-featured-content-slideshows-panel-pane-2 .block-inner { margin-left: 0; }

.facetapi-facet-field-all-geeky-interests { -webkit-columns: 3em 3; -moz-columns: 3em 3; -ms-columns: 3em 3; -o-columns: 3em 3; columns: 3em 3; }

.node-type-geek-page .field-name-field-event-category { clear: right; }
.node-type-geek-page .region-two-25-75-bottom .field { float: left; padding-right: .5em; }
