body { padding: 0 8px; }

h1#site-name { font-size: 2em; }

#menu-bar.nav .block-menu { width: 100%; }
#menu-bar .block-search { float: none; width: 100%; background: #fff; }
#menu-bar .menu-wrapper { clear: both; }

#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a { padding: 0 1em; font-size: .9em; }

#menu-bar .menu-wrapper li, #menu-bar .menu-wrapper .menu li { margin-right: 2px; }

.front .region-three-25-50-25-first .region-inner > div { float: left; }
.front .region-three-25-50-25-first .region-inner > div.panel-pane { width: 49%; }
