@import "base";

/*
 * Custom title elements
 */
h1#page-title {
  &:before {
    color: #669933;
    @include geek_font_prepare;
  }
}

h1.page-title {
  font-weight: bold;
}

.page-home,
.page-events {
  h1#page-title {
    &:before {
      content: '\43'; /* 'C' */
    }
  }
}

.page-geeks {
  h1#page-title {
    &:before {
      content: '\41'; /* 'A' */
    }
  }
}

.page-blog {
  h1#page-title {
    &:before {
      content: '\4c'; /* 'L' */
    }
  }
}

.page-search {
  h1#page-title {
    &:before {
      content: '\53'; /* 'S' */
    }
  }
}