//
// Colors
//
$light_blue: #d3e8eb;
$dark_blue: #6cbbc7;

//
// The word "Unpublished" displayed underneath unpublished nodes and comments
//
@mixin geek_font_prepare {
  font-family: "geek_portland";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}
