/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
@import "compass/css3";
@import "h1s";

@include font-face("geek_portland", font-files("geek_portland.woff", "geek_portland.ttf", "geek_portland.svg"), "geek_portland.eot");

html,
body,
.bb-n {
  background: url("images/bg.gif") no-repeat bottom right #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#header {

  .container {
    position: relative;

    .region-header {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }
}

#branding {
  width: 75%;
  margin-bottom: 0;

  #logo {
    padding: 0;
    max-width: 100%;
  }
}

#menu-bar {
  background: #99cc66;
  padding-top: 2px;

  &.nav {
    .block-menu {
      width: 75%;
      float: left;
    }
  }

  .block-search {
    clear: none;
    float: right;
    width: 25%;
    min-width: 170px;
    text-align: right;
    line-height: 2em;
    height: 2em;

    input {
      float: none;
      font-size: .9em;
      position: relative;
      top: -1px;
    }
  }

  .menu-wrapper {

    ul.menu {
      li {
        width: 16%;
        text-align: center;

        a {
          line-height: 2em;
        }

        &.last {
          a {
            color: #000;
          }
        }
      }
    }
  }
}

#columns {
  background: none;
}

/*
 * Block styles
 */
.block-geek-social {
  ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;

    li {
      list-style: none outside none;
      display: inline;
      padding: 0;
      margin: 0;
    }
  }
}

/*
 * Node listing views
 */
#content {
  .view-content {
    .item-list {
      ul {
        margin: 0;
        padding: 0;

        li.views-row {
          list-style: none outside none;
        }
      }
    }
  }

  .node {
    background: #fff;
    border: 1px solid #E6E4DE;
    @include border-radius(6px);
    padding: 1em;

    .region-inner {
      margin: 0 25px;
    }
  }

  .grouping-content {
    .grouping-title {
      float: left;
      white-space: nowrap;
      padding-top: 14px;

      + .node {
        border-top: 1px solid #E6E4DE;
      }
    }

    .node {
      background: none;
      border: none;

      .at-panel {
        margin-left: 15%;

        .region-conditional-stack {
          clear: none;
        }
      }

      .region-inner {
        margin: 0;
      }

      .field {
        padding: 0;
      }
    }
  }
}
/*
 * Footer styles
 */
#page > footer {
  background: none;
  padding: 0;

  .block-menu-footer-menu {
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none outside none;
    }

    ul {
      text-align: center;

      li {
        display: inline;
        padding: 0 4em;
        border-right: 2px solid #E6E4DE;

        &.last {
          border: none;
        }

        a {
          font-size: 1.3em;
        }
      }
    }
  }
}
