/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
@import "compass/css3";

html,
body,
.bb-n {
  background: url("images/bg.gif") no-repeat bottom right #fff;
}


#header {

  .container {
    position: relative;

    .region-header {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }
}

#branding {
  width: 75%;
  margin-bottom: 0;

  #logo {
    padding: 0;
    max-width: 100%;
  }
}

#menu-bar {
  background: #99cc66;
  padding-top: 2px;

  &.nav {
    .block-menu {
      width: 75%;
      float: left;
    }
  }

  .block-search {
    clear: none;
    float: right;
    width: 25%;
    min-width: 170px;
    text-align: right;
    line-height: 2em;
    height: 2em;

    input {
      float: none;
      font-size: .9em;
      position: relative;
      top: -1px;
    }
  }

  .menu-wrapper {

    ul.menu {
      li {
        width: 18%;
        text-align: center;

        a {
          line-height: 2em;
        }
      }
    }
  }
}

#columns {
  background: none;
}

/*
 * Block styles
 */
.block-geek-social {
  ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;

    li {
      list-style: none outside none;
      display: inline;
      padding: 0;
      margin: 0;
    }
  }
}

/*
 * Node listing views
 */

.view-content {
  .item-list {
    ul {
      margin: 0;
      padding: 0;

      li.views-row {
        list-style: none outside none;
      }
    }
  }
}

.node {
  background: #fff;
  border: 1px solid #E6E4DE;
  @include border-radius(6px);
  padding: 1em;

  .region-inner {
    margin: 0 25px;
  }
}

/*
 * Footer styles
 */
#page {
  footer {
    font-size: 1.4em;
    background: none;
  }

  .four-4x25 > .panel-row > .region {
    text-align: center;

    .block-inner {
      padding: 0;
      margin: 0;
    }
  }

  .four-4x25 > .panel-row > .region-four-second {
    float: right;

    & + .region-four-first {
      margin-left: 0;
    }

    .block-inner {
      .block-content {
        border-right: 2px solid #E6E4DE;
      }
    }

  }
}
