body {
  padding: 0 8px;
}
h1#site-name {
  font-size: 2em;
}
#menu-bar {
  &.nav {
    .block-menu {
      width: 100%;
    }
  }

  .block-search {
    float: none;
    width: 100%;
    background: #fff;
  }

  .menu-wrapper {
    clear: both;
  }
}

#menu-bar .menu-wrapper li a,
#menu-bar .menu-wrapper .menu li a {
  padding: 0 1em;
  font-size: .9em;
}
#menu-bar .menu-wrapper li,
#menu-bar .menu-wrapper .menu li {
  margin-right: 2px;
}


.front {
  .region-three-30-50-20-first {
    .region-inner {
      & > div {
        float: left;

        &.panel-pane {
          width: 49%;
        }
      }
    }
  }
}


/*
 * Search styles
 */
.page-search {
  .region-two-50-first {
    height: auto;
  }
  .region-two-50-second {
    position: static;
  }
}